*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish' , sans-serif;
}
#container
{
    height: 100vh;
    width: 100%;
    background: #eaf5ff;
    position: relative;
}


#navbar
{
    height: 15%;
    width: 90%;
    clip-path: polygon(100% 0, 95% 100%, 50% 100%, 5% 100%, 0 0);
    position: absolute;
    top: 0;
    left: 5%;
    background: #00003f;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
}
#navbar ul,ol
{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 25px 0px;
}
ul
{
    position: absolute;
    left: 5%;
}
ol
{
    position: absolute;
    right: 5%;
}
li
{
    margin: 0px 60px;
    font-size: 23px;
}
li a
{
    text-decoration: none;
    color: #e2e2e2;
    transition: 0.5s;
}
li a:hover
{
    color: #FF7F50;
}
.homebtn {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.homebtn a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.homebtn a:hover {background-color: #FFFFFF;}

.home:hover .homebtn {display: block;}

.home:hover .homebtn {background-color: #23008c;}

#logo
{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 6px;
    left: calc(35.5% - 35px);
}
#logo img
{
    height: 120px;
}






h1 {
      margin: 0 0 20px;
      font-weight: 400;
      color: #1c87c9;
      }
      p {
      margin: 0 0 5px;
      }
      .main-block {
      margin-right: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #eaf5ff;
      }
      form {

      padding: 25px;
      margin: 10px;
      box-shadow: 0 2px 5px #f5f5f5; 
      background: #fff; 
      }
      form:hover{
        background-color: #ffff;
        box-shadow: 0 10px 20px 0000;
      }
      .fas {
      margin: 25px 50px 4;
      font-size: 72px;
      color: #fff;
      }
      .fa-envelope {
      color: #00003f;
      transform: rotate(-20deg);
      }
       .fa-mail-bulk{
      color: #00003f;
      transform: rotate(0deg);
      }
      .fa-at {
        color: #00003f;
        transform: rotate(20deg);
      }
      input, textarea {
      width: calc(100% - 18px);
      padding: 8px;
      margin-bottom: 20px;
      border: 1px solid #1c87c9;
      outline: none;
      }
      input::placeholder {
      color: #666;
      }
      button {
      width: 100%;
      padding: 10px;
      border: none;
      background: #1c87c9; 
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      }
      button:hover {
      background: #2371a0;
      }    
      @media (min-width: 400px) {
      .main-block {
      flex-direction: row;
      }
      .left-part, form {
      width: 30%;
      }
      .fa-envelope {
      margin-top: 0;
      margin-left: 10%;
      }
      .fa-envelope:hover{
        ima
      }
      .fa-at {
      margin-top: -10%;
      margin-left: 15%;
      }
      .fa-mail-bulk {
      margin-top: 5%;
      margin-left: 28%;
      }
      }